.cDTE_PrizeComponent .iconContainer {
    border-radius: 12px !important;
    overflow: hidden !important;
    padding-top: 15px !important;
    background: #ffffff;
}

.cDTE_PrizeComponent .iconContainer img {
    border-radius: 12px !important;
    display: block;
}
``
